@import "./assets/css/fonts.css";
@import "./assets/css/icons.css";
@import "./assets/css/typo.css";

.container {
  max-width: 1200px;
  width: 96vw;
  margin: 30px auto;
}

img {
  border-radius: 5px;
}

header {
  background-color: white;
}

header nav {
  border-bottom: 1px solid #e9ebeb;
  height: 60px;
  padding: 8px;
}

header nav img {
  height: 42px;
  margin: 0 120px;
}

.container.banner {
  display: flex;
  padding: 30px 0;
}

main {
  display: flex;
}

.banner-desc p {
  font-size: 18px;
}

.col-left {
  width: 66%;
}

.col-right {
  width: 33%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 12px;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  width: 48%;
}

.card p {
  font-size: 14px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.card .price {
  font-size: 16px;
  color: #808484;
}

.card .popular {
  color: #ff8000;
  font-size: 12px;
  font-weight: bold;
  margin-left: 16px;
}

.card img {
  width: 130px;
  height: 120px;
  object-fit: cover;
  margin-left: 4px;
}

.cart {
  background-color: white;
  border-radius: 6px;
  margin-top: 30px;
  padding: 16px;
  position: sticky;
  top: 30px;
  box-shadow: 5px 5px 15px 5px #c7c7c7;
}

.cart button {
  background-color: #00cdbd;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  margin-bottom: 16px;
  width: 100%;
  cursor: pointer;
}

.cart-content {
  width: 100%;
}

.cart-content p {
  text-align: center;
  color: #808484;
}

.cart-line {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-line i {
  color: #00cdbd;
  font-size: 20px;
  cursor: pointer;
}

.cart-line span:first-child {
  display: flex;
  align-items: center;
  margin-right: 8px;
  gap: 4px;
}
.cart-line span:nth-child(2) {
  flex: 1 1;
}

.cart-footer div {
  margin-bottom: 8px;
}

.cart-footer span {
  float: right;
}

.cart-footer .total {
  font-size: 24px;
  font-weight: bold;
}

hr {
  margin: 16px 0;
}
